# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Visual Studio Code
.vscode/

# Gradle
.gradle/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
